body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.container {
 
text-align: justify;
 position: relative;
  width: 600px; 
  margin-bottom: 20px; 
}

.text {
  width: 100%; 
    height: auto; 
    min-height: 100px; 
    padding: 10px;
    padding-right: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    line-height: 1.7; 
    color: #2c3e50; 
   
    margin-bottom: 10px;
}

#copyicon {
  position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007BFF;
}

#copyicon:hover {
  color: #0056b3;
}

.random {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn button {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn button:hover {
  background-color: lightgreen;
}
h1{
  color: rgb(40, 88, 90);
  font-family: 'Courier New', Courier, monospace;
}
p{
  color: rgb(40, 88, 90);
  font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 600px) {
  .btn button {
      font-size: 1.2rem; 
  }

  h1 {
      font-size: 1.5rem; 
  }

  p {
      font-size: 1rem; 
  }
}